<!DOCTYPE html>
<html>
<head>
  <title>Incubus</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if alert %>
    <div class="alert alert-dismissable alert-danger">
      <%= alert%>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-dismissable alert-success">
      <%= notice%>
    </div>
  <% end %>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Incubus</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/home">Home</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Trainings <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="/stip">Summer Training Internship Program(STIP)</a></li>
                <li><a href="/wtip">Winter Training Internship Program(WTIP)</a></li>
                <li><a href="/corporate_timings">Corporate Timings</a></li>
              </ul>
            </li>

            <li>
              <a href="/careers">Careers</a>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Services and Solutions <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="/services">Network Services</a></li>
                <li><a href="/maintenance">Annual Maintenance Contract</a></li>
                <li><a href="/website_development">Website Development</a></li>
                <li><a href="/online_marketing">Online Marketing</a></li>
                <li><a href="/cms">Content Management System</a></li>
                <li><a href="/management">ERP | CRM | HRM | SCM</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">About Incubus <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="/corporate_facts">Corporate Facts</a></li>
                <li><a href="/rnd">Research & Development</a></li>
                <li class="divider"></li>
                <li><a href="/sustainability">Corporate Social Sustainability</a></li>
              </ul>
            </li>
            <li>
              <a href="/contact">Contact Us & Register</a>
            </li>            
          </ul>


        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>


      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
              <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
              <li><a href="https://twitter.com/heftyashish">Twitter</a></li>
              <li><a href="https://github.com/heftyashish/">GitHub</a></li>
              <li><a href="#">Donate</a></li>
            </ul>
            <p>Made by <a href="http://facebook.com/heftyashish" rel="nofollow">Narender Chanchal</a>. Contact him at <a href="mailto:ashish.gandhy@gmail.com">ashish.gandhy@gmail.com</a>.</p>

          </div>
        </div>

      </footer>
    </div>  
</div>

</body>
</html>
